/* Footer */
footer {
    width: 100%;
    height: 100%;
    background-color: $footer;
    padding: 22px;
    .container {
        .row {
            .logo-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    margin-top: 7px;
                    vertical-align: middle;
                    text-align: center;
                    &:hover {
                        filter: brightness(1.1);    
                    }   
                }   
            }
            .contact-info {
                text-align: right !important;
                @include fonts(14px,$robotoSlab,$brown,400,none);
                a {
                    color:$brown !important;
                    font-weight: bold !important;
                    &:hover{
                        color:$blue-hover !important;
                    }
                }
                .br-hide {
                    display: none;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .container {
            .row {
                .logo-wrapper {
                    text-align: center;
                    img {
                        margin-top: 7px;
                        vertical-align: middle;
                        text-align: center;
                        &:hover {
                            filter: brightness(1.1);    
                        }   
                    }   
                }
                .contact-info {
                    text-align: center !important;
                    .br-hide {
                        display: block;
                    }
                    .br-show {
                        display: none;
                    }
                }
            }
        } 
    }
}
